/* Root Selector for Variables */
:root {
    --grey: dimgrey;
    --blue: mediumturquoise;
    --darkBlue: steelblue;
}

/* Universal Selector */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Element Selectors */
body {
    background-color: azure;
}

header {
    padding: 20px;
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    width: 100%;
}

header h1 {
    text-align: center;
    font-size: 48px;
    color: var(--grey);
    background-color: var(--blue);
    margin-inline-start: -20px;
    padding-left: 40px;
}

header nav {
    padding-top: 10px;
    float: right;
    font-size: 24px;
    margin-left: auto;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-flex;
    margin-left: 25px;
    margin-inline-start: 20px;
}

header nav ul li a {
    color: var(--blue);
    text-decoration: none;
    border-bottom: 5px solid var(--blue);
}

/* Class Selectors */
.top-img {
    background-image: url(assets/images/linkedin-event-design-template-9ea8946b86bda7ca65cdbf18e7ab21b1_screen.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
    margin-bottom: 50px;
}

.subtitle {
    font-size: 36px;
    color: var(--grey);
    background-color: var(--blue);
    height: 40px;
    width: 220px;
    text-align: center;
    margin-left: auto;
    margin-right: 100px;
    margin-top: -150px;
    margin-bottom: 150px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.about-me h2 {
    font-size: 42px;
    text-align: right;
    color: var(--darkBlue);
    border-right: 5px solid var(--darkBlue);
    margin-left: 300px;
    padding-right: 20px;
}

.about-me p {
    text-align: left;
    margin-left: 50px;
    margin-right: 100px;
    color: var(--darkBlue);
}

.work {
    display: inline-block;
    margin-top: 75px;
    margin-left: 100px;
    width: 100%;
    color: var(--darkBlue);
    margin-right: 20px;
}

/* .work h2 {
    border-right: 5px solid var(--darkBlue);
    font-size: 42px;
    text-align: right;
    color: var(--darkBlue);
    margin-left: 314px;
    padding-right: 20px;
} */

.work-heading {
    float: left;
    font-size: 42px;
    text-align: right;
    padding-right: 10px;
    border-right: 5px solid var(--darkBlue);
    height: 1250px;
    width: 185px;
    padding-right: 15px;
    margin-left: 155px;
    font-weight: bolder;
}

.ocean-work {
    position: relative;
    bottom: 1250px;
    left: 390px;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.ocean-work a img {
    opacity: 20%;
    transition: opacity .5s ease-in;
    border: 5px solid var(--blue);
    height: 600px;
    width: 1080px;
}

.ocean-work img:hover {
    opacity: 1;
}

.ocean-subtitle {
    color: var(--grey);
    background-color: var(--blue);
    height: 60px;
    width: 180px;
    text-align: left;
    padding-left: 40px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: 490px;
    position: absolute;
    top: 1240px;
    left: 0px;
}

.ocean-subtitle h2 {
    font-size: 24px;
}

.ocean-subtitle p {
    font-size: 16px;
}

.other-work {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.row {
    flex: 50%;
    padding: 8px 4px;
}

.row a img {
    float: right;
    position: relative;
    object-fit: cover;
    height: 300px;
    width: 530px;
    opacity: 20%;
    transition: opacity .5s ease-in;
    border: 5px solid var(--blue);
    left: -9px;
    top: -1240px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.row img:hover {
    opacity: 1;
}

.led-subtitle {
    color: var(--grey);
    background-color: var(--blue);
    height: 60px;
    width: 150px;
    text-align: left;
    position: absolute;
    top: -1040px;
    left: 490px;
    padding-left: 40px;
    padding-top: 10px;
}

.led-subtitle h2 {
    font-size: 24px;
}

.led-subtitle p {
    font-size: 16px;
}

.pastel-subtitle {
    color: var(--grey);
    background-color: var(--blue);
    height: 60px;
    width: 180px;
    text-align: left;
    position: absolute;
    top: -720px;
    left: 490px;
    padding-left: 40px;
    padding-top: 10px;
}

.pastel-subtitle h2 {
    font-size: 18px;
}

.pastel-subtitle p {
    font-size: 16px;
}

.calculator-subtitle {
    color: var(--grey);
    background-color: var(--blue);
    height: 60px;
    width: 180px;
    text-align: left;
    position: absolute;
    top: -1040px;
    left: 1040px;
    padding-left: 40px;
    padding-top: 10px;
}

.calculator-subtitle h2 {
    font-size: 20px;
}

.calculator-subtitle p {
    font-size: 14px;
}

.contact-me {
    display: flex;
    margin-bottom: 100px;
}

.contact-me h2 {
    font-size: 42px;
    text-align: right;
    color: var(--darkBlue);
    border-right: 5px solid var(--darkBlue);
    margin-left: 300px;
    padding-right: 20px;
    position: absolute;
    top: 2300px;
    right: 1220px;
    flex: 0 0 20%;
}

.contact-me a {
    font-size: 20px;
    text-decoration: underline;
    text-align: left;
    color: var(--darkBlue);
    top: 2330px;
    margin-right: 40px;
    margin-left: 40px;
}

.contacts {
    position: absolute;
    top: 2330px;
    left: 550px;
}

/* Media Queries */
/* Tablets */
@media screen and (max-device-width: 992px) {
    header h1 {
        font-size: 12px;
        flex-direction: column;
        text-align: center;
        margin-inline-start: -20px;
        margin-inline-end: 300px;
        padding-left: 40px;
        padding: 20px;
        display: flex;
        width: 80%;
    }

    header nav ul {
        float: right;
        margin-inline-start: -300px;
        margin-inline-end: 24px;
    }
    
    header nav ul li{
        font-size: 44px;
        flex-direction: column;
    }
  }
  
  /* Large smartphones */
@media screen and (max-device-width: 768px) {
    header h1 {
        font-size: 12px;
        flex-direction: column;
        text-align: center;
        margin-inline-start: -20px;
        margin-inline-end: 300px;
        padding-left: 40px;
        padding: 20px;
        display: flex;
        width: 80%;
    }

    header nav ul {
        float: right;
        margin-inline-start: -300px;
        margin-inline-end: 24px;
    }
    
    header nav ul li{
        font-size: 16px;
        flex-direction: column;
    }
  }
  
  /* Small smartphones */
@media screen and (max-device-width: 576px) {
    header h1 {
        font-size: 12px;
        flex-direction: column;
        text-align: center;
        margin-inline-start: -20px;
        margin-inline-end: 300px;
        padding-left: 40px;
        padding: 20px;
        display: flex;
        width: 80%;
    }

    header nav ul {
        float: right;
        margin-inline-start: -300px;
        margin-inline-end: 24px;
    }
    
    header nav ul li{
        font-size: 12px;
        flex-direction: column;
    }
  }